// app global css in SCSS form
.menuExpansion .q-item {
  padding: 0px!important;
  padding-left: 16px!important;
}

.menuExpansionItem {
  background-color: #4C566A;
  border-radius: 10px;
}

.q-item {
  border-radius: 10px;
}

.q-page {
  background-color: #434C5E;
}

.q-tree__node.relative-position.q-tree__node--child {
  height: 30px;
  text-align: center;
  // background-color: #434C5E;
}

::-webkit-scrollbar {
  height: 12px;
  width: 14px;
  background-color: #2e3440;
  z-index: 12;
  overflow: visible;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #c1c1c1;
  border-radius: 10px;
  z-index: 12;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  transition: background-color .32s ease-in-out;
  margin: 4px;
  min-height: 32px;
  min-width: 32px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c1c1c1;
}

