// app global css in SCSS form
.menuExpansion .q-item {
  padding: 0px!important;
  padding-left: 16px!important;
}

.menuExpansionItem {
  background-color: #4C566A;
  border-radius: 10px;
}

.q-item {
  border-radius: 10px;
}

.q-page {
  background-color: #434C5E;
}
